/* Background image wrapper */

.bgImageWrapper {
  position: relative;
}

.bgImageWrapper figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.bgImageWrapper figure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.bgImageWrapper figure img {
  height: 100%;
  width: 100%;
}
