/* Pagination css start */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 6px 12px;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #e9ecef;
}

.pagination .active a {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

/* Pagination css end */
