.navb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}
.navb li {
  list-style: none;
}

.master {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 100%;
  background-color: var(--secondary);
  position: fixed;
  top: 76px;
  left: 0;
}

.skeletonMaster {
  z-index: 999;
  width: 100%;
  background-color: var(--secondary);
  position: fixed;
  top: 76px;
  left: 0;
}

@media (max-width: 768px) {
  .master {
    overflow: auto;
  }
}

/* .main {
} */

.navItem {
  margin: 16px;
}

.navLink {
  color: var(--black);
  margin: 0;
  line-height: 1.25;
  /* font-family: Yantramanav, sans-serif; */
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-bottom: 0;
}
.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease-in-out;
}
.navLink:hover {
  color: var(--black);
}
.navLink:hover::after {
  width: 100%;
}

/* .active { 
    border-bottom: 2px solid aliceblue;
  } */

.active .navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease-in-out;
}

.active:hover .navLink {
  pointer-events: none !important;
  cursor: default !important;
}

@media (max-width: 600px) {
  .navb{
    min-width: 600px;
  }
}
