.main{
    margin:0% 10%;
    max-width: 600px !important;
}
.main2{
    max-width: 1101px !important;
    font-family:"Bree Regular";
    padding: 30px 60px !important;
    font-size: 3.5rem !important;
    line-height: 1;
    
}
    
.uperSection{
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, .5);
}

.para1{
    display: inline-block;
    padding: 13px;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #838383;
    background-color: #fff;
    margin-bottom: 1rem;
}
.time{
    display: flex;
    flex-direction: row;
    font-style: italic;
    line-height: 1.75;
}
.fullStop{
    padding-right: 5px;
    padding-left: 5px;
    color: #aaa;
    font-size: 14px;
}
.p{
    font-family: "Georgia", serif;
    font-size: 1.1rem !important; 
    margin-bottom: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    overflow: hidden;
}
.footText div {
    text-align: center;
    color: #7b7b7b;
    font-size: 14px;
  }
.imgContainer{
    width: 180px;
    height: 180px;
}
.img{
   width: 100%;
   height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media(max-width:768px){
    .imgContainer{
        width: 130px;
        height: 150px;
    }
 
}
@media(max-width:660px){
    .imgContainer{
        width: 100px;
        height: 115px;
    }
    .main2{
        padding: 20px 20px !important;
        line-height: 1;
        font-size: 2rem !important;
        }
        .authorName{
            font-size: 0.7rem !important;
        }
  
}
.authorNameLabel{
    background-color: #fff;
    position: absolute;
    right: 0;

}
.authorName{
        padding: 0 15px;
        background-color: #fff;
        font-size: 1.4rem;
        z-index: 1 !important;
}
.authorName span:first-child{
    font-family: "Georgia", serif;
    font-style: italic;
    padding-right: 5px;
}
.authorName span:last-child{
    font-family: "Georgia", serif;
    font-weight: 700;
    text-transform: uppercase;
}