.mainHeader {
  color: var(--primary);
  font-family: Lato;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2;
}

/* css for upcoming events */
.news_carousel_container {
  overflow: hidden;
  /* Prevent overflow issues */
  /* margin: 60px 0; */
}

.news_slide {
  position: relative;
  /* Ensure the child elements stay within this container */
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}



.image_container_list_view {
  overflow: hidden;
  max-height: 220px;
  height: 100%;
  width: 320px;
  border-radius: 15px;
  object-fit: cover;
}


.image_container_grid_view {
  overflow: hidden;
  /* height: 190px; */
  width: 190px;
  /* Set width equal to height to make it a perfect circle */
  object-fit: cover;
  border-radius: 50%;
  /* Make it a circle */
}

.zoom_image {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  height: 200px;
  /* max-width: 230px; */
  width: 100%;
  /* border-radius: 50%; */
  /* Smooth transition */

}


.news_slide:hover .zoom_image {
  transform: scale(1.05);
  /* Scale to create the zoom effect */
}


/* .tag {
  color: black;
  border: 1px solid;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
  overflow: hidden;
} */


.card {
  border: none;
  padding: 20px;
  max-width: 19rem;
  width: 100%;
  /* border-radius: 8px;
  height: 245px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out; */
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
  padding: 0 15px !important;
}


/*  */


.news_carousel_container {
  overflow: hidden;
  /* Prevent overflow issues */
  /* margin: 60px 0; */
}

.news_slide {
  position: relative;
  /* Ensure the child elements stay within this container */
  overflow: hidden;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image_container_list_view {
  overflow: hidden;
  max-height: 220px;
  height: 100%;
  width: 320px;
  border-radius: 15px;
  object-fit: cover;
}


.image_container_grid_view {
  overflow: hidden;
  /* height: 190px; */
  width: 190px;
  /* Set width equal to height to make it a perfect circle */
  object-fit: cover;
  /* border-radius: 50%; */
  /* Make it a circle */
}

.zoom_image {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  height: 200px;
  /* max-width: 230px; */
  width: 100%;
  /* border-radius: 50%; */
  /* Smooth transition */

}


.news_slide:hover .zoom_image {
  transform: scale(1.05);
  /* Scale to create the zoom effect */
}


/* .tag {
  color: black;
  border: 1px solid;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
  overflow: hidden;
} */


.card {
  border: none;
  padding: 20px 0;
  max-width: 19rem;
  width: 100%;
  /* border-radius: 8px;
  height: 245px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out; */
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
  padding: 0 5px;
}

.card_body h5 {

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: var(--primary);
  text-align: center;
  margin-bottom: 18px !important;
}

.card_body p {
  font-optical-sizing: auto;
  font-style: normal;
  color: #545454;

  /* color: var(--primary); */
}

.card_content a {
  color: var(--primary) !important;
  width: 100% !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical_bar {
  position: relative;

}

.vertical_bar::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  height: 20px;
  width: 1px;
  background-color: #DDDDDD;
}

/* css for upcoming events end */


.first{
  font-size: 2rem;
  text-align: center;
}

.second{
  font-size: 4rem;
  text-align: center;
}

.third{
  font-size: 1rem;
  text-align: center;
}

.four{
  font-size: 2rem;
  text-align: center;
}

.five{
  font-size: 4rem;
  text-align: center;
}

.mainImage{
  width: 100% !important;
  height: 100% !important;
}

@media(max-width:1024px){

  .first{
    font-size: 1rem;
  }
  
  .second{
    font-size: 2rem;
  }
  
  .third{
    font-size: 0.7rem;
  }
  
  .four{
    font-size: 1rem;
  }
  
  .five{
    font-size: 2rem;
  }
  
}
.imageContainer {
  --mask: linear-gradient(#000 0 0) center/calc(100% - 60px) calc(100% - 60px)
  no-repeat,
conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 0 0/60px
  30px space no-repeat,
conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 0
  100%/60px 30px space no-repeat,
conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 0 0/30px
  60px no-repeat space,
conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) 100% 0/30px 60px no-repeat space;

display: inline-block;
width: 320px;
aspect-ratio: 1;

-webkit-mask: var(--mask);
mask: var(--mask);
}
