/* Grid View */

.videoPlayBtn {
  position: absolute;
  /* bottom: -30px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 46px;
  height: 46px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.videoPlayBtn svg {
  font-size: 46px;
}

.videoCard:hover .videoPlayBtn {
  background-color: var(--primary);
}

.videoCard {
  height: 360px !important;
  background-color: transparent !important;
  border: 0 !important;
  /* cursor: pointer; */
}

.videoTitle {
  font-size: 20px;
  line-height: 1.3;
  color: #000;
}

.videoText {
  font-size: 12px;
  line-height: .8;
  color: #000;
}

.videoCard:hover .videoTitle,
.videoCard:hover .videoText,
.videoCard:hover .videoCategory p {
  color: var(--primary);
}

.videoFooter {
  background-color: transparent !important;
  border: 0 !important;
}

.videoFooter p {
  margin-bottom: 0 !important;
  color: var(--primary);
  line-height: 1.45;
  font-size: 16px;
}

.videoFooter i,
.videoFooter span {
  color: #666;
  font-size: 14px;
}

.videoFooter img {
  width: 60px !important;
  height: 60px !important;
}

.videoCategory {
  position: absolute;
  left: 16px;
  top: 0px;
}

.videoCategory p {
  font-size: 14px;
  margin-bottom: 0;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
  padding: 0 5px;
}

.vertical_bar {
  position: relative;

}

.vertical_bar::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  height: 20px;
  width: 1px;
  background-color: #DDDDDD;
}

/* Icons */

.iconContainer {
  position: relative;

}

.iconText {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  bottom: 100%;
  left: 100%;
  transform: translateX(-50%);
  background-color: var(--primary);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
  font-style: normal;
}

.iconContainer:hover .iconText {
  display: block;
  opacity: 1;
}

.icons {
  position: absolute;
  right: 16px;
  top: 0px;
}

.icons i {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.icons i>span {
  font-weight: normal;
  font-size: 12px;
}

.icons .iconContainer>i {
  padding: 10px;

}

.icons .iconContainer:first-child {
  border-right: 1px solid var(--black);
}

.icons .iconContainer:last-child {
  padding: 0px 5px !important;
  border-left: 1px solid var(--black);
}

/* List View */

.listViewIcons {
  position: static;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.listViewPlayBtn {
  position: absolute;
  /* bottom: -30px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.listViewData p {
  margin-bottom: 0;
  padding-left: 8px;

}

.listViewData p:first-child {
  font-size: 14px;
  margin-bottom: 4px;
}

.listViewData p:last-child {
  font-size: 20px;
}

.listViewCard {
  cursor: pointer;
}

.listViewCard:hover p {
  color: var(--primary);
}

/* Playlist */

.playlist {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playlist .dropup {
  width: 100% !important;
}

.playlistIcons {
  position: static;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playlistIcons.icons .iconContainer {
  border: 0 !important;
}